.gridContato {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-items: center;


}
@media (max-width: 1000px ) {
    .gridContato {
        display: grid;
        grid-template-columns: repeat(2, 400px);
    }
}
@media (max-width: 800px ) {
    .gridContato {
        display: block;

    }
}

.blocoImg {
    place-content: center;

}

.blocoContato h1 {
    color: white;
    padding: 20px 0;
}

.blocoContato p {
    display: flex;
    gap: 7px;
    color: white;

}

.info {
    margin: 3px 0 30px 35px;
    font-family: monospace;
    font-size: 1.2rem;
}

.redeSocial {
    display: flex;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
}
@media (max-width: 800px ) {
    .gridContato {
        display: block;

    }
    .blocoImg  {
        display: block;

        place-self: start;



    }
    .blocoContato{
        place-self: start;
    }



}